@use "../variables/color" as c;
@use "../variables/size" as s;
@use "../variables/font" as f;
@use "../variables/globalStyles" as gs;

.juegoContent {
  @include gs.gradientBg;

  section:not(:last-child) {
    border-bottom: 2px solid c.$acent;
  }
}

.juegoIntro {
  width: 100%;
  display: flex;
  position: relative;
  padding-bottom: s.space(s8);

  h1 {
    @include gs.bigTitle;
  }

  p {
    text-align: justify;
    font-weight: f.weight(f2);
    line-height: s.space(s4);
  }
}

.juegoIntroImgContainer {
  width: 40%;

  img {
    width: 100%;
    display: block;
  }
}

.juegoText {
  width: 60%;
  padding-top: s.space(s7);
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    display: block;
    width: 60%;
  }
}

.juegoTextContainer {
  width: 60%;
  margin: auto;
}

.juegoHalfImg {
  display: block;
  max-width: 300px;
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 2;
}

.juegoDescarga {
  padding: s.space(s7) s.space(s8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1 {
    @include gs.subTitle;
  }

  p {
    font-weight: f.weight(f2);
  }

  & *:not(:last-child) {
    margin-bottom: s.space(s5);
  }
}

.storeLogosContainer {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.steamLogo {
  display: block;
  width: 60px;
  fill: c.$secondary;
  cursor: pointer;
}

.appStoreLogos {
  display: block;
  height: 100px;
  cursor: pointer;
}

.juegoMockupImg {
  display: block;
  width: 50%;
}

.juegoDescripcion,
.juegoCartas {
  padding: s.space(s7) s.space(s8);

  h1 {
    @include gs.subTitle;
    margin-bottom: s.space(s5);
  }

  p {
    font-weight: f.weight(f2);
    line-height: s.space(s4);
  }
}

.juegoDescripcionTextContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.juegoDescripcionText {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: s.space(s6);

  p {
    text-align: right;
  }
}

.juegoDescripcionImgContainer {
  width: 50%;
  img {
    display: block;
    width: 100%;
  }
}

.juegoCartas {
  width: 100%;
  display: flex;
  align-items: center;
}

.juegoCartasImgContainer {
  width: 70%;
  position: relative;

  img {
    display: block;
    width: 100%;
  }
}

.logoJuegoNuna {
  width: 300px;
  display: block;
  position: absolute;
  top: 15%;
  right: 20%;
  fill: c.$white;
}

.juegoCartasDescripcionContainer {
  width: 30%;
}
